
/* [no container] */
h3 {
  h3
}
a {
  color: #4088b8
}
ul, ol {
  margin-left 0
}
h4 {
  color: #333;
margin-bottom: -10px
}
#wrap {
  color: #404040;
margin: 20px 40px
}
table {
  font-size: inherit;
border: 1px solid #c8c8c8
}
p {
  margin: 10px 0;
clear: both
}
html, body {
  min-height: 100%;
height: auto !important;
height: 100%
}
pre, blockquote {
  padding: 15px;
background-color: #f0f0f0;
margin: 20px 0;
-moz-border-radius: 10px
}
pre, code, tt, dt {
  font: 100% monospace;
margin: 20px 0
}
th {
  background: #d8d8d8;
text-align: left;
padding: 5px;
white-space: nowrap
}
h1 {
  h1
}
h1, h2, h3, h4, h5, h6 {
  font-family: Georgia, "Times New Roman", Times, serif;
color:#4088b8;
clear: both
}
select, input, textarea {
  font: 99% "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif
}
h2 {
  color: #c8c8c8;
margin-top: -25px
}
.form-submit {
  padding:18px 0 0 0;
text-align:right
}
.nav-next {
  float: right;
width:50%;
text-align:right
}
.sf-menu, .sf-menu * {
  margin:0;
padding:0;
list-style:none
}
.attachment-jpeg #content, .attachment-png #content {
  width:930px
}
#branding {
  padding:88px 0 44px 0
}
.attachment-jpeg .main-aside, .attachment-png .main-aside {
  display:none
}
.aside, .aside input {
  font-size:13px;
line-height:18px;
margin-bottom:6px
}
.hentry {
  padding:0 0 22px 0
}
blockquote {
  color:#666;
font-style:italic
}
.comment_license {
  color:#666;
clear:both;
font-size:11px;
margin:0;
padding:18px 0 0 0
}
pre, code {
  font:14px Monaco, monospace;
line-height:22px
}
#primary {
  border:1px solid #ccc;
padding:18px 0 0 0;
margin-bottom:22px
}
.subscribe-to-comments {
  color:#666;
float:left;
font-size:11px;
margin:0;
padding:18px 0 0 0
}
#main {
  clear:both;
padding:66px 0 22px 0
}
.skip-link {
  display:none
}
.solo-subscribe-to-comments {
  color:#666;
font-size:11px;
padding:18px 0 0 0
}
ul#links-page, ul#archives-page {
  list-style:none;
margin-left:0;
overflow:hidden
}
#subsidiary {
  padding:33px 0 0 0
}
.widget_tag_cloud {
  margin:0 0 22px 0
}
a:link {
  color:#004B91
}
#blog-description {
  color:#666;
font-size:13px;
font-style:italic
}
#footer {
  border-top:1px solid #ccc;
margin-top:22px
}
a:visited {
  color:#743399
}
.attachment-jpeg #container, .attachment-png #container {
  width:100%
}
.attachment-jpeg #comments, .attachment-png #comments {
  width:540px;
overflow:hidden
}
#access {
  border-bottom:1px solid #ccc;
height:32px;
font-size:13px;
overflow:visible;
z-index:100
}
hr {
  background-color:#ccc;
border:0;
height:1px;
margin-bottom:22px
}
#nav-above {
  display:none
}
a:active, a:hover {
  color: #FF4B33
}
#header {
  z-index:2
}
#comments, #comments input, #comments textarea {
  font-size:13px;
line-height:18px
}
p, ul, ol, dd, pre {
  margin-bottom:22px
}
#comments-list, #comments-list ul {
  list-style:none
}
li.content-column {
  float:left;
margin-right:20px;
width:45%
}
caption {
  text-align:left
}
body, input, textarea {
  font:15px Georgia,serif;
line-height:22px
}
#nav-above, #nav-below {
  width: 100%
}
.nav-previous {
  float: left;
width:50%
}


/* ul */
ul ul {
  margin-bottom: 20px
}
ul {
  list-style:none;
margin-left:0
}


/* body */
body {
  font: 100.01% "Trebuchet MS", Trebuchet, Tahoma, Verdana, Arial, sans-serif;
color: #333;
padding: 0
}
body * {
  line-height:1.22em
}


/* td */
td {
  background: #f8f8f8;
text-align: left;
padding: 5px;
vertical-align: top
}
td pre {
  font: 85% monospace;
padding: 5px;
margin: 5px 0
}


/* .aside */
.aside pre, .aside code {
  font-size:12px;
line-height:18px
}
.aside .current-menu-item, .aside .menu-item, .aside a, .aside .current_page_item, .aside .menu-item, .aside a {
  color:#666
}
.aside form, .aside table {
  margin-bottom:22px
}
.aside a:active, .aside a:hover {
  color: #FF4B33
}
.aside h3 {
  font-size:15px;
font-style:italic;
line-height:22px
}
.aside .current-menu-item, .aside .menu-item, .aside a:hover, .aside .current-menu-item, .aside .menu-item, .aside a:active, .aside .current_page_item, .aside .menu-item, .aside a:hover, .aside .current_page_item, .aside .menu-item, .aside a:active {
  color: #FF4B33
}
.aside a {
  color:#666
}
.aside table {
  border:none
}
.aside h3 a {
  text-decoration:none
}
.aside caption {
  font-size:11px;
font-family:Arial,sans-serif;
font-weight:bold;
text-transform:uppercase;
letter-spacing:0.05em
}
.aside th, .aside td {
  border-right:1px solid #ccc;
padding:.25em .8em
}
.aside tfoot td {
  border-color:transparent
}
.aside ul ul {
  list-style:disc;
margin:0 0 22px 20px
}
.aside .current-menu-item, .aside a, .aside .current_page_item, .aside a {
  color: #FF4B33
}
.aside p, .aside ul, .aside ol, .aside dd, .aside pre {
  margin-bottom:18px
}
.aside thead {
  border:1px solid #ccc
}
.aside ul ul li {
  padding:1px 0
}
.aside {
  color:#666
}
.aside tbody {
  border:1px solid #ccc
}
.aside tfoot tr {
  border:none
}
.aside #searchsubmit {
  display: none
}
.aside ul ul ul {
  margin-bottom:0
}


/* .page */
.page .edit-link {
  clear:both;
display:block
}


/* .comment-reply-link */
.comment-reply-link a:active, .comment-reply-link a:hover {
  color: #FF4B33
}
.comment-reply-link {
  font-size:11px;
padding:0 0 18px 0;
text-align:right
}
.comment-reply-link a {
  color:#666;
font-style:italic;
text-decoration:none
}


/* #comments-list */
#comments-list ul .comment {
  border:1px solid #ccc;
margin:0 0 18px 0
}
#comments-list .comment-meta, #comments-list a:active, #comments-list .comment-meta, #comments-list a:hover {
  color: #FF4B33
}
#comments-list {
  border:1px solid #ccc;
border-bottom:none;
margin:0 0 18px
}
#comments-list #respond {
  border-bottom:1px solid #ccc;
margin:0 0 18px 0;
padding:18px 1.5em
}
#comments-list ul, #comments-list ul, #comments-list ol, #comments-list ol, #comments-list ul, #comments-list ul, #comments-list ul, #comments-list ol, #comments-list ol, #comments-list ol {
  padding-bottom:0
}
#comments-list .comment-author {
  font-weight:bold;
padding:9px 0 0 46px
}
#comments-list .comment-meta a {
  color:#666;
font-style:italic;
text-decoration:none
}
#comments-list ul #respond {
  border:1px solid #ccc;
margin:0
}
#comments-list ul, #comments-list ol {
  padding-bottom: 18px
}
#comments-list h3 {
  padding-bottom: 0
}
#comments-list li.bypostauthor {
  background:#FFFFCC
}
#comments-list .comment-meta {
  color:#666;
font-size:11px;
padding:0 0 9px 46px
}
#comments-list li.alt {
  background:#fff
}
#comments-list li .avatar {
  position:absolute;
top:22px;
left:1.5em;
width:36px;
height:36px
}
#comments-list .comment {
  background:#fafafa;
border-bottom:1px solid #ccc;
padding:18px 1.5em 0 1.5em;
position:relative
}


/* .sf-menu */
.sf-menu ul {
  border-bottom:1px solid #ccc
}
.sf-menu ul a {
  background:#fafafa;
border-bottom:none
}
.sf-menu ul li {
  width:100%
}
.sf-menu a, .sf-menu a:visited {
  color:#666
}
.sf-menu {
  float:left;
margin-left:1px
}
.sf-menu a {
  border-color:#CCCCCC;
border-style:solid;
border-width:1px;
padding:9px 13px;
text-decoration:none;
margin-left:-1px
}
.sf-menu li:hover, .sf-menu li.sfHover, .sf-menu a:focus, .sf-menu a:hover, .sf-menu a:active {
  background:#fafafa;
outline: 0;
border-bottom-color:#ccc
}
.sf-menu ul ul {
  margin-top:0
}
.sf-menu li:hover {
  visibility:inherit
}
.sf-menu li li {
  background:#fff
}
.sf-menu li {
  background:#fff
}
.sf-menu li li li {
  background:#9AAEDB
}
.sf-menu ul a:hover {
  color: #FF4B33
}
.sf-menu .current-menu-item, .sf-menu a, .sf-menu .current-menu-parent, .sf-menu a, .sf-menu .current-menu-ancestor, .sf-menu a, .sf-menu .current-post-ancestor, .sf-menu a, .sf-menu .current_page_item, .sf-menu a, .sf-menu .current_page_ancestor, .sf-menu a, .sf-menu .current_page_parent, .sf-menu a {
  border-bottom-color:#fff
}
.sf-menu li:hover, .sf-menu ul, .sf-menu li.sfHover, .sf-menu ul {
  top:32px
}


/* .single */
.single .hentry {
  padding:0
}


/* #form-allowed-tags */
#form-allowed-tags code {
  font-size:11px;
line-height:normal
}
#form-allowed-tags p {
  color:#666;
font-size:11px;
margin:0
}
#form-allowed-tags span {
  font-style:italic
}


/* .entry-title */
.entry-title {
  font-family:Arial,sans-serif;
font-size:26px;
font-weight:bold;
line-height:26px;
padding:0 0 7px 0
}
.entry-title a {
  color:#000;
text-decoration:none
}
.entry-title a:active, .entry-title a:hover {
  color: #FF4B33
}


/* .entry-content */
.entry-content {
  padding:22px 0 0 0
}
.entry-content h3 {
  font-size:17px;
font-style:italic;
padding:28px 0 14px 0
}
.entry-content h4 {
  font-size:11px;
font-family:Arial,sans-serif;
font-weight:bold;
text-transform:uppercase;
letter-spacing:0.05em
}
.entry-content table {
  margin-left:1px
}
.entry-content h1, .entry-content h2 {
  font-family:Arial,sans-serif;
font-size:19px;
font-weight:bold;
padding:28px 0 14px 0
}
.entry-content embed {
  margin:0 0 22px 0
}


/* #cancel-comment-reply */
#cancel-comment-reply a {
  color:#666
}
#cancel-comment-reply {
  font-size:11px;
position:absolute;
top:18px;
right:1.5em
}


/* .page-link */
.page-link a:active, .page-link a:hover {
  color: #FF4B33
}
.page-link {
  clear:both;
font-size:13px;
font-weight:bold;
line-height:18px;
margin:0 0 22px 0;
padding:22px 0 0 0;
word-spacing:0.5em
}
.page-link a {
  border:1px solid #ccc;
color:#666;
font-weight:normal;
padding:0.5em 0.75em;
text-decoration:none
}


/* .navigation */
.navigation {
  color:#666;
font-size:13px;
line-height:18px;
margin:0px 0 22px 0;
overflow:hidden
}
.navigation a:active, .navigation a:hover {
  color: #FF4B33
}
.navigation .meta-nav {
  font-style:normal
}
.navigation a {
  color:#666;
font-style:italic;
text-decoration:none
}


/* #blog-title */
#blog-title a {
  color:#000;
text-decoration:none
}
#blog-title {
  font-family:Arial,sans-serif;
font-size:34px;
font-weight:bold;
line-height:40px
}
#blog-title a:active, #blog-title a:hover {
  color: #FF4B33
}


/* .form-section */
.form-section textarea {
  width:99%
}
.form-section input {
  margin:0 0 18px 0;
width:98%
}
.form-section label {
  font-size:11px
}


/* #comments */
#comments code {
  font-size:12px;
line-height:18px
}
#comments h3 {
  font-family:Arial,sans-serif;
font-size:15px;
font-weight:bold;
line-height:22px;
padding:0 0 18px 0
}
#comments {
  clear:both;
padding:22px 0 0 0
}


/* #respond */
#respond .required {
  color:#FF4B33;
font-weight:bold
}
#respond {
  background:#fff;
margin-bottom:22px;
overflow:hidden;
padding:18px 0 0 0;
position:relative
}


/* .entry-meta */
.entry-meta a:active, .entry-meta a:hover {
  color: #FF4B33
}
.entry-meta {
  color:#666;
font-size:13px;
font-style:italic;
line-height:18px
}
.entry-meta a {
  color:#666;
text-decoration:none
}
.entry-meta .author {
  .entry-meta .author
}
.entry-meta .n, .entry-meta .nickname {
  font-size:11px;
font-style:normal;
letter-spacing:0.05em;
text-transform:uppercase
}
.entry-meta abbr {
  border:none;
cursor:text;
font-size:11px;
font-style:normal;
letter-spacing:0.05em;
text-transform:uppercase
}


/* #author-info */
#author-info .avatar {
  float:left;
margin:.3em 1em 0 0
}
#author-info {
  margin:0 0 44px 0;
overflow:hidden
}


/* .paged */
.paged #nav-above {
  display:block;
padding:0 0 44px 0
}


/* .comment-navigation */
.comment-navigation {
  font-weight:bold;
padding: 18px 0 24px;
margin-right:0.5em
}
.comment-navigation a {
  border:1px solid #ccc;
color:#666;
font-weight:normal;
padding:0.5em 0.75em;
text-decoration:none
}
.comment-navigation a, .comment-navigation span {
  margin-right:0.5em
}
.comment-navigation a:active, .comment-navigation a:hover {
  color: #FF4B33
}


/* ul.sf-menu */
ul.sf-menu li, ul.sf-menu li, ul.sf-menu li:hover, ul.sf-menu ul, ul.sf-menu li, ul.sf-menu li, ul.sf-menu li.sfHover, ul.sf-menu ul {
  left:10em;
top:0
}
ul.sf-menu li, ul.sf-menu li:hover, ul.sf-menu li, ul.sf-menu ul, ul.sf-menu li, ul.sf-menu li.sfHover, ul.sf-menu li, ul.sf-menu ul {
  top:-999em
}
ul.sf-menu li:hover, ul.sf-menu li, ul.sf-menu ul, ul.sf-menu li.sfHover, ul.sf-menu li, ul.sf-menu ul {
  top:-999em
}
ul.sf-menu li, ul.sf-menu li:hover, ul.sf-menu ul, ul.sf-menu li, ul.sf-menu li.sfHover, ul.sf-menu ul {
  left:10em;
top:0
}


/* #siteinfo */
#siteinfo a {
  color:#666
}
#siteinfo a:active, #siteinfo a:hover {
  color: #FF4B33
}
#siteinfo {
  color:#666;
font-size:11px;
line-height:18px;
padding:22px 0 44px 0
}


/* .entry-utility */
.entry-utility {
  clear:both;
color:#666;
font-size:13px;
line-height:18px;
margin:0 0 44px 0
}
.entry-utility a {
  color:#666;
font-style:italic;
text-decoration:none
}
.entry-utility a:active, .entry-utility a:hover {
  color: #FF4B33
}


/* .home */
.home #content .sticky {
  border:1px solid #ccc;
margin:0 0 66px 0;
padding:22px 20px 0 20px
}


/* #content */
#content .aside h3 {
  font-family:Georgia,serif;
font-weight:normal;
font-size:17px;
font-style:italic;
padding:0 0 7px 0;
text-transform:none
}
#content .aside {
  border:1px solid #ccc;
margin:0 0 22px 0;
padding:18px 0 0 0
}
#content .aside ul {
  padding:0 20px
}
#content .aside ul ul {
  padding:0
}


/* .page-title */
.page-title a:active, .page-title a:hover {
  color: #FF4B33
}
.page-title .meta-nav {
  font-style:normal
}
.page-title a {
  color:#666;
text-decoration:none
}
.page-title {
  font-size:13px;
line-height:18px;
padding:0 0 44px 0
}
.page-title span {
  font-style:italic
}


/* .ie7 */
.ie7 hr {
  background-color:transparent;
color:#ccc
}
.ie7 .sf-menu a {
  width:100%
}


/* .main-aside */
.main-aside h3 {
  .main-aside h3
}
.main-aside ul ul {
  padding:0
}
.main-aside ul {
  padding:0 20px
}


/* .attachment */
.attachment .page-title {
  font-style:italic
}


/* #trackbacks-list */
#trackbacks-list .comment-content {
  position:absolute;
left:-10000px
}

